<div class="navi">
  <div class="container">
    <div class="logo-content">
      <h1>Recipes</h1>
    </div>
    <div class="navig-content">
      <div class="nav-left-content">
        <ul>
          <!-- <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li> -->
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="">Recipes</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a *ngIf="isAuth" routerLink="recipes/create"
              routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Create</a></li>
        </ul>
      </div>
      <div class="nav-right-content">
        <ul>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a *ngIf="!isAuth" routerLink="login">Login</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a *ngIf="!isAuth" routerLink="signup">Signup</a></li>
          <li><a *ngIf="isAuth" (click)="onLogout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
