<div class="container">



  <div class="detail__content">
    <h1 class="detail__header">
      New Recipe
    </h1>

    <form class="recipe-form row" [formGroup]="recipeFormGroup" (submit)="onSave()">
      <div class="left-column col-md-6 col-xs-12">
        <div>
          <div class="form__group">
            <input id="title" [ngClass]="{'ng-touched': submitted}" class="form__input" type="text" name="title"
              formControlName="title" required placeholder=" " #titleInput />
            <label for="title" class="form__label">Title<span class="required"> *</span></label>
          </div>
          <!-- <p class="mat-error" [hidden]="!validationService.validate(recipeFormGroup, 'title')">Please enter a recipe title</p> -->

          <div class="form__group">

            <input id="description" [ngClass]="{'ng-touched': submitted}" class="form__input" type="text" name="description"
              formControlName="description" required placeholder=" " #descriptionInput />
            <label for="description" class="form__label">Description<span class="required"> *</span></label>
          </div>

          <!-- <p class="mat-error" [hidden]="!validationService.validate(recipeFormGroup, 'description')">Please enter a recipe description</p> -->
          <div class="form__group form__group--flex">
            <input id="ingredient" class="form__input form__input--with-button" type="text" name="name" placeholder=" "
              #ingredient />
            <label for="ingredient" class="form__label">Zutaten</label>
            <button class="form__input--button" type="button" (click)="onAddIngredient(ingredient)">+</button>
          </div>
          <div formArrayName="ingredients">
            <div *ngFor="let ingredient of ingredients.controls; let i=index">
              <!-- The repeated alias template -->

              <div [formGroup]="ingredient" class="ingredient">
                <p class="ingredient__item">{{ingredient.get('name').value}}</p>
                <button class="ingredient__button" (click)="onRemoveIngredient(ingredient)" type="button"><span>x</span></button>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="right-column col-md-6 col-xs-12">
        <div class="img-container" *ngIf="previewImage && recipeFormGroup.get('image').valid">
          <div class="img-picker img-picker--edit">
            <button class="img-picker__button--edit" type="button" (click)="filePicker.click()">Edit</button>
            <input style="display:none" type="file" #filePicker (change)="onImageSelected($event)">
          </div>
          <img class="recipe__image" [src]="previewImage" [alt]="recipeFormGroup.value.title" type="text">
        </div>
        <div class="img-container" *ngIf="!(previewImage && recipeFormGroup.get('image').valid)">
          <div [ngClass]="{'ng-invalid': recipeFormGroup.get('image').invalid, 'ng-touched': submitted || imageSelected}"
            class="img-placeholder">
            <div class="img-picker img-picker--create">
              <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
              <input style="display:none" type="file" #filePicker (change)="onImageSelected($event)">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="submit-button mt-3">
          <button mat-stroked-button color="accent" type="submit">Submit</button>
        </div>
      </div>

    </form>
  </div>
</div>
