<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form class="form" (submit)="onSignup(singupForm)" #singupForm="ngForm">
        <div class="form__group">
          <input id="signup-email" class="form__input" type="email" name="email" ngModel #emailInput="ngModel" required
            email placeholder=" " />
          <label for="signup-email" class="form__label">Email</label>
        </div>
        <div class="form__group">
          <input id="signup-password" class="form__input" type="password" name="password" ngModel #passwordInput="ngModel"
            required placeholder=" " />
          <label for="signup-password" class="form__label">Password</label>
        </div>
        <div class="button-container">
          <button class="submit-button" type="submit">Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>
